@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,400');

/* DEFAULT COMPONENT */
* {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    background-color: rgba(0, 119, 255, 0.671);
    text-decoration: underline;
    color: white;
}

.questions h3 {
    padding: 30px;
}

.questions p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}